$prim: #d29f70;
$sec: #d29f70;
$txt: #3c3c3c;
$bg: #fefced;
$sm: 600px;
$md: 960px;
$lg: 1264px;

// Mixins
@mixin centerElement() {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin MQ($size) {
  @media screen and (min-width: $size){
    @content;
  }
}

// Reset
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  letter-spacing: 0 !important;
}

body {
  direction: rtl;
}

.v-application {
  font-family: 'Cairo' !important;
  background: $bg !important;
}

// Classes
.section-heading {
  text-align: center;
  font-size: 3em;
  margin: 20px auto;
  color: $prim;
}

.section-par {
  font-size: 1.5em;
  line-height: 1.8;
  color: $txt;
  text-align: center;
  max-width: 60%;
  margin: auto;

}